@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro780.otf");
  font-family: 'yoongothic'
}
@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro710.otf");
  font-family: 'yoongothic10'
}
@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro730.otf");
  font-family: 'yoongothic30'
}
@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro750.otf");
  font-family: 'yoongothic50'
}
@font-face {
  src : url("../fonts/GmarketSansMedium.otf");
  font-family: 'gmarketsans'
}


*{margin: 0; padding: 0; 
}


body{
  position: relative;
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

a,img,span{cursor: none;}



/* 네비 */
nav {
  width: 90%;
  padding: 1% 5%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: difference;
}

nav > ul{
  padding:0;
  width: 8%;
  display: flex;
  justify-content: space-between;
  list-style: none; 
}

nav > ul > li {
  padding-right: 20px;
  list-style-type: none;
}

li{
  list-style-type: none;
  line-height: 3rem;
}

.menu{
  color: gray;
  text-decoration: none;
}

.menu:hover{
  color: white;
}

.clickedmenu {
  color: white;
}



/* 스와이퍼 */
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  cursor: none;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 60%;
  margin-right: 13%;
  height: 100%;
  margin-left: auto;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.swiper-slide{
  height: 70%;
  position: relative;
}

.swiper-slide picture{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-project {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.txt{
  color: #355351;
  position: absolute;
  top: 35% ; left:-35%;
  text-align: left;
  width: 75%;
  transition: 0.5s;
}

.title{
  text-align: left;
  font-size: 6rem;
  font-family: 'yoongothic';
  line-height: 7rem;
  letter-spacing: -0.5rem;
  mix-blend-mode: multiply;
}

.summary{
  width: 40%;
  padding-top: 20px;
  font-family: 'yoongothic30';
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: -0.05rem;
  word-break: keep-all;
}

.swiper-pagination{
  padding-right: 6%;
  transition: .5s;
}

.swiper-pagination-bullet{
  margin-bottom: 20px  !important;
  width: 7px; height: 7px;
  display: table-cell;
  cursor: none;
}


.swiper-pagination-bullet span{
  width: 270px; height: 20px;
  padding: 0 20px;
  display: inline-block;
  color: white;

  text-align: left;
  font-family: 'yoongothic10';
  display: none;
  transform: translateY(-6px);
}

.swiper-pagination-bullet-active{
  width: 7px; height: 21px;
  border-radius: 5px;
  background:#355351;
}

.swiper-pagination-bullet-active span{
  transform: translateY(1px);
}

.swiper-pagination{
  display: inline-block;
}

.tit-swiper-pagination{
  z-index: 100;
}

/* 배경 */
.background {
  background: url(../../img/tt4.png) center top no-repeat OldLace;
  background-size: cover;
  display: block;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.background2 {
  background: rgba(0,0,0,0.8);
  display: none;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}



/* 커서 */
.cur0{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(107, 107, 107);
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 10;
  display: none;
}

.cur0::after{
  content: '';
  position: absolute;
  top: -7px; left: -7px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgb(107, 107, 107);
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
}

.clickcursor{
  animation: cursorShake .5s forwards;
  border: 1px solid #494949 ;
  background: #ffffff; 
}

@keyframes cursorShake {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(3);
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}



/* 미디어쿼리 */

.title-media720{ display: none;}

@media (max-width: 768px) {

  .swiper-pagination, .txt{
    display: none;
  }

  .swiper-slide{
    top: 0%; left: 0%;
    width: 80%; height: 75%;
    margin: 0 auto;
    margin-top: 20%;
  }

  .img-project{
    transform-origin: right bottom;
    object-position:right bottom;
  }
  
  .img-project1{
    object-position: 30% 50%;
  }

  .title-media720{
    display: block;
    position: absolute;
    top: -9%;
    font-size: 1.5rem;
    font-family: 'yoongothic';
    color: #355351;
  }

}
