@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro780.otf");
  font-family: 'yoongothic'
}
@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro710.otf");
  font-family: 'yoongothic10'
}
@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro720.otf");
  font-family: 'yoongothic20'
}
@font-face {
  src : url("../fonts/GmarketSansMedium.otf");
  font-family: 'gmarketsans'
}

a{text-decoration: none; color: white;}
*{margin: 0; padding: 0; }



body {
  background: rgb(255, 255, 255);
  position: relative;
  margin: 0; padding: 0;
  box-sizing: border-box;
  height: 3000px;
  overflow-x: hidden;
  cursor: none;
}

a{ cursor: none;}

nav {
  mix-blend-mode: difference;
  width: 90%;
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

nav > ul {
  padding:0;
  width: 8%;
  display: flex;
  justify-content: space-between;
  list-style: none; 
}

nav > ul > li {
  padding-right: 20px;
  list-style-type: none;
}

li{
  list-style-type: none;
  line-height: 3rem;
}

.menu{
  color: rgb(59, 59, 59);
  text-decoration: none;
}

.menu:hover{
  color: gray;
}

.clickedmenu {
  color: gray;
}


/* 컨텐츠 */

.first_thum{
  width: 100%;
  height: 60vh;
  position: absolute;
  overflow: hidden;
  top:0; left: 0;
  z-index: -1;
}

.first_thum::before{
  content: '';
  position: absolute;
  background: linear-gradient(
    0deg, rgba(140, 140, 141, 0.5), rgba(163, 165, 167, 0));
  z-index: 2;
  bottom: 0; left: 0;
  width: 100%; height: 100%;
}

.titandperiod{
  position: absolute;
  width: 80%;
  top: 50%; left: 50%;
  z-index: 10; 
  transform: translate(-50%,-50%);
  text-align: center;
}

.tit2{
  color: white;
  font-family: 'yoongothic';
  letter-spacing: -0.4rem;
  font-size: 4.5rem;
  
}

.tit3{
  font-family: 'yoongothic';
  font-size: 2rem;
  padding: 0 0 30px 0;
}

.tit4{
  font-family: 'yoongothic10';
  font-size: 1rem;
}

.sub-tit{
  font-family: 'yoongothic10';
  color: gray;
  display: inline-block;
  padding: 15px 20px 0 0;
  width: 60px;
}

.description{
  padding: 65vh 0 5% 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.descript_left{
  width: 50%;
}

.descript_right{
  width: 50%;
}

.btn_site{
  margin: 60px 0;
  padding: 10px 30px; 
  background: none;
  border: 1px solid #999;
  border-radius: 20px;
}

.btn_site:hover{
  background: black;
  border: 1px solid black;
  color: white;
}

h5{
  padding: 10px 0;
  font-family: 'yoongothic';
  font-size: 1.2rem;
}

.h5_conten, .h5_concept, .h5_con{
  padding: 20px 0 80px;
  font-family: 'yoongothic20';
  font-size: 1rem;
  line-height: 1.7rem;
  word-break: break-all;
}

.img_2{
  width: 80%;
  height: 800px;
  margin: 0 auto;
  background: greenyellow;
  overflow: hidden;
}

.point{
  padding: 200px 0 50px;
  margin: 0 auto;
}

.point1{
  width: 80%;
  margin: 0 auto;
}



.swiper{
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: blanchedalmond;
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.point2{
  width: 80%;
  display: flex;
}

.point2_word{
  width: 50%;
}

.point2_img{
  width: 50%;
  height: 800px;
  background: burlywood;
}

.point3{
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}

.point3_word{
  width: 50%;
  padding: 0 100px;
}

.point3_img{
  width: 50%;
  height: 800px;
  background: burlywood;
}

.point4{
  width: 80%;
}

.point4_word{
  width: 100%;
}

.img_box{
  display: flex;
}

.point4_img{
  width: 45%;
  background: burlywood;
  height: 500px;
}

.point4_img:nth-of-type(1){
margin-right: 10%;
}


/* 푸터 */
footer{
  width: 100%;
  height: 600px;
  background: cadetblue;
  margin-top: 150px;
  overflow:hidden;
  position: relative;
}

.next_wrap{
  width: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.next_sub{
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: 'yoongothic';
  color: white;
}
.next_tit{
  font-family: 'yoongothic';
  font-size: 5.5rem;
  padding-top: 20px;
  letter-spacing: -4px;

  color: white;
  background: linear-gradient(to right, rgb(200, 200, 192), rgb(231, 159, 26) 50%, rgb(255, 255, 255) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1800ms ease;
}

.next_tit:hover {
  background-position: 0 100%;
}

footer img{
  object-fit: cover;
  width: 100%;
}




/* 커서 */
.cur0{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(107, 107, 107);
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 10;
}

.cur0::after{
  content: '';
  position: absolute;
  top: -7px; left: -7px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgb(107, 107, 107);
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
}

.clickcursor{
  animation: cursorShake .5s forwards;
  border: 1px solid #494949 ;
  background: #ffffff; 
}

@keyframes cursorShake {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(3);
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}



/* 미디어쿼리 */

.title-media720{ display: none;}

@media (max-width: 768px) {

  .swiper-pagination, .txt{
    display: none;
  }

  .swiper-slide{
    top: 0%; left: 0%;
    width: 80%; height: 75%;
    margin: 0 auto;
    margin-top: 20%;
  }

  .img-project{
    transform-origin: right bottom;
    object-position:right bottom;
  }
  
  .img-project1{
    object-position: 30% 50%;
  }

  .title-media720{
    display: block;
    position: absolute;
    top: -9%;
    font-size: 1.5rem;
    font-family: 'yoongothic';
    color: #355351;
  }

}
