@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro780.otf");
  font-family: 'yoongothic'
}
@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro710.otf");
  font-family: 'yoongothic10'
}
@font-face {
  src : url("../fonts/GmarketSansMedium.otf");
  font-family: 'gmarketsans'
}

@font-face {
  src : url("../fonts/StretchPro.otf");
  font-family: 'Stretch'
}





a{text-decoration: none; color: white;}
*{margin: 0; padding: 0; }


body{
  overflow-x: hidden;
  background: black;
  position: relative;
  margin: 0; padding: 0;
  box-sizing: border-box;
  color: white;
}

nav {
  width: 90%;
  padding: 1% 5%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul{
  padding:0;
  width: 8%;
  display: flex;
  justify-content: space-between;
  list-style: none; 
}
nav > ul > li {
  padding-right: 20px;
  list-style-type: none;
}


.menu{
  color: white;
  text-decoration: none;
}

.menu:hover{
  color: gray;
}

.clickedmenu {
  color: gray;
}


.profile{
  padding-top : 20px;
  line-height: 1.5rem;
}

.profile_line{
  width: 30px;
  height: 1px;
  background: white;
  display: block;
  margin: 20px 0; 
}

.star{
  width: 200px;
  display: block;
  padding: 10px 0 85px;
  animation: mirrorflip 10s 0s linear infinite;
}

@keyframes mirrorflip {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(-1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}



h2{
  font-size: 4.5rem;
  word-break:keep-all;
  padding-bottom: 120px;
  font-family: 'yoongothic';
  letter-spacing: -0.4rem;
  margin: 0;
  line-height: 1.3em;
}

.h2b{color: gray;}


.vid_face{
  width: 100%; height: 350px;
  /* border: rgb(133, 210, 255) 2px solid; */
  
  overflow: hidden;
  position: sticky;

  top: 0;
  z-index: 5;
}
video{
  padding: 15% 0;
  width: 110%;
  min-width: 300px;

  transform: translate(-40px,0);
  
  /* border: violet 2px solid; */
}


.two_side{
  display: flex;
  width: 90%;
  padding: 10% 5% 0;
}

.leftside{
  width: 20%;
  padding: 0;
  /* height: 3000px; */
  /* border: violet 1px solid; */
}

.vertical{
  font-family: 'yoongothic';
  height: 12em;
  font-size: 15em;
  writing-mode: vertical-rl;
  width: 100%;
  mix-blend-mode: difference;

}


.rightside{
  width: 75%;
  padding: 0;
  /* border: violet 1px solid; */
  margin-left: auto;
}


.self{
  background: white;
  height: 500px;
  
  
}

.date{
  display: inline-block;
  width: 120px;
}








.line1 {
  display: block;
  background: white;
  width: 1px;
  height: 300px;
  margin-bottom: 120px;
}

hr{
  size : 1px; 
  color :darkgray;
}

ul{
  padding-bottom: 130px;
}

li{
  list-style-type: none;
  line-height: 3rem;
}



.block{
  width: 100%;
  padding-top: 200px;
}
.block2{
  padding-top: 350px;
  width: 75%;
  margin-left: auto;
}


/* 아코디언 */
.accord-wrap{
  width: 100%;
  border-top: 15px solid;
  border-left: 1px solid;
}

.accor-tit{
  padding-left: 50px;
  text-transform: uppercase;
}

.accord-wrap ul{
  list-style: none;
  padding: 0;
}

.accordlist li{
  font-family: 'yoongothic10';
  font-weight: 700;

  border-top: 1px solid;
  padding: 30px 50px;
  position: relative;
}

.accordQuestion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s;
}

.faqArrow{
  transform: rotate(90deg) translateX(15%);
  fill:white;
}

/* .faqArrow.active{
  transform: translateY(-50%) rotate(-90deg);
} */

.accordAnswer{
  padding: 50px;
  margin-top: 20px;
  background: rgb(255, 255, 255);
  color: #333;
  display: none;
}







.deco_txt{
  width: 96%;
  padding: 0 2%;

  font-family: 'Stretch';
  font-size: 6.3rem;
  padding-bottom: -40px;
  line-height: 5.8rem;

  color: black;
  text-shadow:
  -1px -1px 0 rgb(255, 255, 255),
  1px -1px 0 rgb(255, 255, 255),
  -1px 1px 0 rgb(255, 255, 255),
  1px 1px 0 rgb(255, 255, 255); 

  position: relative;
}

.fill{
  color:white;
}

.contact{
  width: 350px;
  height: 500px;
  position: absolute;
  bottom: -5%;
  right: 5%;

  text-shadow: none;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: right;
  color: gray;
  font-family: 'yoongothic10';
  font-weight: 700;
  font-size: 1.2rem;
}

.contact > h4{
  font-family: 'yoongothic10';
  font-weight: 700;
}

.white{
  color: white;
}

.contact h4:nth-of-type(1){
  padding-bottom: 50px;
}
.contact h4:nth-of-type(2){
  padding-bottom: 30px;
  color: white;
}



.icon-sns svg{
  fill:white;
  width: 34px;
  height: 34px;
  padding-left: 7px;
}

.icon-sns svg:hover{
  fill:gray;
}




h3{
  font-family: "gmarketsans";
  color: gray;
  font-size: 2rem;
  padding: 50px 0 30px;
  line-height: 2.5rem;
}

h4{
  font-family: 'yoongothic10';
}

h5{
  font-size: 1.2rem;
  color: black;
}

h6{
  font-size: 1rem;
  padding-left: 20px;
  font-family:'yoongothic10';
}

.getintouch li h4 a:hover {
  color: gray;
}
.getintouch li h4:hover {
  color: gray;
}







#kakao{
  position: relative;
  cursor: pointer;
}


.modal{
  display: none;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.modal_overlay{
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  
}
.modal_content{
  background-color: white;
  width: 20%;
  border-radius: 10px;
  position: relative;
  padding: 40px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.modal_content img{
  width: 100%;
}
.btn_close{
  border: none;
  background: none;
  display: block;
  margin-left: auto;
  padding: 5px;
}
.btn_close > img{
  width: 100%;
  cursor: pointer;
}

.show{
  display: flex;
}










.swiper {
  width: 500px;
  height: 400px;
  padding: 20px 0 300px;

  z-index: 10;
  margin-left: 0;
}

.swiper-slide {
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  border: rgb(56, 56, 56) 1px solid;
}

.tmi li {
  padding: 80px 0 200px 0;
  width: 500px;
  word-break: break-all;
  line-height: 2rem;
}

.tmi li h6 {
  padding: 50px 30px;
  text-align: center;
  font-size: 1.2rem;
}


.swiper-slide > div > img{
  width: 440px;
  padding: 0 30px;
}


.tmicap p{
  font-family: 'stretch';
  font-size: 6rem;
  line-height: 6rem;
  padding: 0px 50px;
}
.tmicap p:nth-of-type(2){
  color: gray;
  padding: 0 50px;
}
.tmicap p:nth-of-type(3){
  font-family: 'yoongothic10';
  font-size: 1.2rem;
  padding: 50px 50px 0 50px;
  display: block;
}





.top{
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none;
  z-index: 20;
  mix-blend-mode: difference;

  font-size: 1rem;
  padding-left: 20px;
  font-family:'yoongothic10';
  font-weight: 700;

}











footer{
  padding-top: 350px;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;

  /* border: springgreen 5px solid; */
}

.svg-warp{
  /* border: rgb(141, 184, 162) 5px solid; */
  height: 600px;
  overflow: hidden;
}

textPath{
  font-family: 'Stretch';
  word-spacing: -5px;
  text-align: center;
}

footer img{
  width: 100px;
}

.fooCon{
  position: absolute;
  bottom: -70%; left: 50%;
  transform: translate(-50%,-50%);

}

footer p{
  padding: 50px 0 100px;
}

/* 미디어쿼리 */

@media (max-width: 720px) {
  .bdaycard{
    top: 37%; left: 18%;
  }
  .sticker{
    top: 35%; left: 32%;
  }
}

@media (max-width: 480px) {
  .bdaycard{
    top: 39%; left: 18%;
  }

  .sticker{
    top: 36%; left: 32%;
  }
}

