* {
  margin: 0;
  padding: 0;
  cursor: none;
}

@font-face {
  src : url("../fonts/GmarketSansBold.otf");
  font-family: 'GmarketSanB'
}


body{
  height: 100vh;
  width: 100%; min-width: 400px;
  overflow: hidden;
  



  background: rgb(0, 0, 0);
  color: white;
  position: relative;
}

a{
  text-decoration: none;
  color: white;
}


/* 인트로 */
.welcome-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  text-align: center;
  overflow: hidden;
  z-index: 20;
}
.content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fly-in-text{
  list-style: none;
}

.fly-in-text li {
  display: inline-block;
  font-family: 'GmarketSanB';
  margin-right: 20px;
  font-size: 5rem;
  color: #fff;
  opacity: 1;
  transition: all 1s ease;
}

.fly-in-text li:nth-child(3){
  margin-right: 0;
}

.enter-button {
  display: block;
  font-family: 'GmarketSanB';
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #F5BB4E;
  opacity: 1;
  margin-top: 30px;
  transition: all 0.5s ease 1s;
}
.content-hidden .fly-in-text li {opacity: 0;}
.content-hidden .fly-in-text li:nth-child(1) {transform: translate3d(-60px,0,0);}
.content-hidden .fly-in-text li:nth-child(2) {transform: translate3d(0px,0,0);}
.content-hidden .fly-in-text li:nth-child(3) {transform: translate3d(60px,0,0);}
.content-hidden .enter-button {opacity: 0; transform: translate3d(0,-30px,0);}









.el{
  /* padding-top: 62.29%; */
  width: 100%; height: 100%;
}

.card {
  position: absolute;
  width: 100%; height: 100%;
}

.card > img{
  width: 100%;
}

.wall{
  width: 65%; height: auto;
  top: 50%; left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  
}

.bdaycard{
  width: 20%; height: auto;
  top: 35%; left: 18%;
  z-index: 2;
}





.sticker{
  width: 10%;  
  height: 10%;
  top: 30%; left: 32%;
  z-index: 10;
}




.cur0{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(107, 107, 107);
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;

  z-index: 10;
  
  
    /* transition-duration: 100ms;
  transition-timing-function: ease-out;*/
}
.cur0::after{
  content: '';
  position: absolute;
  top: -7px; left: -7px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgb(107, 107, 107);
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;

}

.clickcursor{
  animation: cursorShake .5s forwards;
  border: 1px solid #494949 ;
  background: #ffffff; 
}


@keyframes cursorShake {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(3);
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
  
}




.cur1, .cur2{
  z-index: 100;
  mix-blend-mode: difference;
  width: 7%;
  opacity: 1;
  z-index: 11;
  position: absolute;  
  transform: translate(-50%,-50%);
  transform-origin: 50%;
  mix-blend-mode: difference;

  pointer-events: none;
  animation: rotate 5s normal linear infinite;
}

.cur1{
  mix-blend-mode:luminosity;
  z-index: 11;
}


@keyframes rotate {
  from {
    transform: rotate(0deg) ;
  }
  to {
    transform: rotate(360deg) ;
  }
}




/* 미디어쿼리 */

@media (max-width: 720px) {
  .bdaycard{
    top: 37%; left: 18%;
  }
  .sticker{
    top: 35%; left: 32%;
  }
}

@media (max-width: 480px) {
  .bdaycard{
    top: 39%; left: 18%;
  }

  .sticker{
    top: 36%; left: 32%;
  }
}

