@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro780.otf");
  font-family: 'yoongothic'
}
@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro710.otf");
  font-family: 'yoongothic10'
}
@font-face {
  src : url("../fonts/[yoon]_OTE_YoonGothicPro720.otf");
  font-family: 'yoongothic20'
}
@font-face {
  src : url("../fonts/GmarketSansMedium.otf");
  font-family: 'gmarketsans'
}

a{text-decoration: none; color: white;}
*{margin: 0; padding: 0; }


body{
  background: rgb(255, 255, 255);
  position: relative;
  margin: 0; padding: 0;
  box-sizing: border-box;
  height: 3000px;
  
}

nav {
  width: 90%;
  padding: 1% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

nav > ul{
  padding:0;
  width: 8%;
  display: flex;
  justify-content: space-between;
  list-style: none; 
}
nav > ul > li {
  padding-right: 20px;
  list-style-type: none;
}


.menu{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu:hover{
  color: gray;
}

.clickedmenu {
  color: gray;
}



.first_thum{
  width: 100%;
  height: 60vh;
  position: absolute;
  overflow: hidden;
  top:0; left: 0;
  z-index: -1;
}


.titandperiod{
  position: absolute;
  top: 50%; left: 50%;
  z-index: 2; 
  transform: translate(-50%,-50%);
  text-align: center;
}
.tit2{
  font-family: 'yoongothic';
  font-size: 5rem;
}
.tit3{
  font-family: 'yoongothic';
  font-size: 2rem;
  padding: 0 0 30px 0;
}

.tit4{
  font-family: 'yoongothic10';
  font-size: 1rem;
}


.sub-tit{
  font-family: 'yoongothic10';
  color: gray;
  display: inline-block;
  padding: 15px 20px 0 0;
  width: 60px;
}


.description{
  padding: 65vh 0 5% 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.descript_left{
  width: 50%;
}
.descript_right{
  width: 50%;
}


.btn_site{
  margin: 60px 0;
  padding: 10px 30px; 
  background: none;
  border: 1px solid #999;
  border-radius: 20px;
}

.btn_site:hover{
  background: black;
  border: 1px solid black;
  color: white;
}

h5{
  padding: 10px 0;
  font-family: 'yoongothic';
  font-size: 1.2rem;
}

.h5_con{
  padding: 20px 0 80px;
  font-family: 'yoongothic20';
  font-size: 1rem;
  line-height: 1.7rem;
  word-break: break-all;
}

.img_2{
  width: 80%;
  height: 800px;
  margin: 0 auto;
  background: greenyellow;
}


.point{
  width: 80%;
  margin: 0 auto;
}

.point1{
  width: 80%;
  margin: 0 auto;
  padding: 200px 0 50px;
}



.swiper{
  width: 80%;
  height: 500px;
  background: blanchedalmond;
  margin: 0 auto;
}

.point2{
  display: flex;
  padding: 200px 0 50px;
}

.point2_word{
  width: 50%;
}
.point2_img{
  width: 50%;
  height: 800px;
  background: burlywood;
}


.point3{
  display: flex;
  flex-direction: row-reverse;
}

.point3_word{
  width: 50%;
  padding: 0 100px;
}